#wrapper {
    background-color: white;
    margin: 5px 50px 10px 50px;
    grid-template-columns: repeat(12, 1fr);
    border: 3px solid black;
    display: grid;
    width: 900px;
    margin: 0px auto;
}

.ger{
    font-family: Georgia, serif;
    font-weight: bold;
    padding-right: 5px;
}

body {
    background-image: url(a62.png);
}

header {
    grid-column: span 12;
}

main {
    grid-column: span 9;
}

img {
    float:left;
    margin-right: 10px;
}

nav {
    grid-column: span 3;
    width: 20px;
}

h2 {
    font-family: Helvetica, sans-serif;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    background-color: black;
    padding: 15px;
    margin: 10px;
}

nav {
    clear: both;
    grid-column: span 3;
}
nav li a {
    display: block;
    width: 150px;
    margin: 10px;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

nav li {
    display: inline-block;
}

nav a:hover {
    color: white;
    text-decoration: none;
    background-color: #9d0000;
} 

nav a {
    color:white;
    text-decoration: none;
    background-color: rgb(246, 50, 50);
}

p a {
    font-weight: bold;
    color: red;
    text-decoration: none;
}

p a:hover {
    font-weight: bold;
    color:blue;
    text-decoration: underline;
}

img {
    border: 2px solid black;
    padding: 10px;
}

footer {
    font-style: italic;
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: red;
    color: white;
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    grid-column: span 12;
}